@font-face {
  font-family: "Pretendard Std Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/pretendard/PretendardStdVariable.woff2")
    format("woff2-variations");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 900;
  font-display: swap;
  src: url("/static/fonts/pretendard/woff2/PretendardStd-Black.woff2")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 800;
  font-display: swap;
  src: url("/static/fonts/pretendard/woff2/PretendardStd-ExtraBold.woff2")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-ExtraBold.woff")
      format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/pretendard/woff2/PretendardStd-Bold.woff2")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 600;
  font-display: swap;
  src: url("/static/fonts/pretendard/woff2/PretendardStd-SemiBold.woff2")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-SemiBold.woff")
      format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 500;
  font-display: swap;
  src: url("/static/fonts/pretendard/woff2/PretendardStd-Medium.woff2")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-Medium.woff")
      format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/pretendard/woff2/PretendardStd-Regular.woff2")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "Source Serif 4";
  font-weight: 200 900;
  font-display: swap;
  src: url("/static/fonts/source-serif-4-variable.woff2");
}

@font-face {
  font-family: "Source Serif 4";
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
  src: url("/static/fonts/source-serif-4-italic-variable.woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/ibm-plex-mono-regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/ibm-plex-mono-bold.woff2") format("woff2");
}
