@font-face {
  font-display: swap;
  font-family: "Pretendard Arrows";
  font-style: normal;
  font-weight: 400;
  src:
    url("/static/fonts/PretendardArrows-v1.eot?#iefix")
      format("embedded-opentype"),
    url("/static/fonts/PretendardArrows-v1.ttf")
      format("truetype");
  unicode-range: U+2190-2199, U+21A9-21AA;
}

@font-face {
  font-family: "Pretendard Std Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/static/fonts/pretendard/PretendardStdVariable.woff2?#")
    format("woff2-variations");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 900;
  font-display: swap;
  src:
    url("/static/fonts/pretendard/woff2/PretendardStd-Black.woff2?#")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-Black.woff?#") 
      format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 800;
  font-display: swap;
  src:
    url("/static/fonts/pretendard/woff2/PretendardStd-ExtraBold.woff2?#")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-ExtraBold.woff?#")
      format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 700;
  font-display: swap;
  src:
    url("/static/fonts/pretendard/woff2/PretendardStd-Bold.woff2?#")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-Bold.woff?#") format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 600;
  font-display: swap;
  src:
    url("/static/fonts/pretendard/woff2/PretendardStd-SemiBold.woff2?#")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-SemiBold.woff?#")
      format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 500;
  font-display: swap;
  src:
    url("/static/fonts/pretendard/woff2/PretendardStd-Medium.woff2?#")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-Medium.woff?#")
      format("woff");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 400;
  font-display: swap;
  src:
    url("/static/fonts/pretendard/woff2/PretendardStd-Regular.woff2?#")
      format("woff2"),
    url("/static/fonts/pretendard/woff/PretendardStd-Regular.woff?#")
      format("woff");
}

@font-face {
  font-display: swap; 
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/source-serif-4-v14-latin-regular.woff2?#")
    format("woff2"); 
}

@font-face {
  font-display: swap; font-family: "Source Serif 4";
  font-style: italic;
  font-weight: 400;
  src: url("/static/fonts/source-serif-4-v14-latin-italic.woff2?#")
    format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/source-serif-4-v14-latin-700.woff2?#") format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "Source Serif 4";
  font-style: italic;
  font-weight: 700;
  src: url("/static/fonts/source-serif-4-v14-latin-700italic.woff2?#")
    format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/ibm-plex-mono-v20-latin-regular.woff2?#")
    format("woff2"); 
}

@font-face {
  font-display: swap; 
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/ibm-plex-mono-v20-latin-700.woff2?#") format("woff2"); 
}
