@font-face {
  font-family: "Pretendard";
  font-weight: 45 920;
  font-display: swap;
  src: url("/static/fonts/pretendard-variable.woff2");
}

@font-face {
  font-family: "Source Serif 4";
  font-weight: 200 900;
  font-display: swap;
  src: url("/static/fonts/source-serif-4-variable.woff2");
}

@font-face {
  font-family: "Source Serif 4";
  font-weight: 200 900;
  font-display: swap;
  font-style: italic;
  src: url("/static/fonts/source-serif-4-italic-variable.woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/ibm-plex-mono-regular.woff2") format("woff2");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/ibm-plex-mono-bold.woff2") format("woff2");
}