img {
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

a {
  background-color: transparent;
  color: #292524;
}

.html {
  color: #292524;
}

.fancy-link a,
a.fancy-link {
  color: #0d6685;
  background-color: #c3e4f3;
  padding: 1.28px 4.8px 2.56px;
  margin: 3.2px 0;
}

.fancy-link a:hover,
a.fancy-link:hover {
  color: #0079a3;
  background-color: #dbeff8;
}

.subtle-link {
  color: #292524;
}
.subtle-link:hover {
  background-color: #e3f2fb;
}

.links .fancy-link {
  margin-right: 4px;
}

.container {
  padding: 0 16px;
}

.container {
  width: expression(
    document.documentElement.clientWidth > 960 ? "960px": "auto"
  );
}

ul,
ol {
  padding: 0 !important;
}

h1,
h2,
h3,
h4 {
  color: #1c1917;
}

table {
  margin: 16px 0;
  width: 100%;
  border-collapse: collapse;
}

th {
  color: #1c1917;
  font-weight: 600;
  border-bottom: 1px solid #d6d3d1;

  padding: 6px 0;
  text-align: left;
}

td {
  color: #44403c;
  padding: 6px 0;
  border-bottom: 1px solid #e7e5e4;
}

blockquote {
  margin-left: 0;
  padding-left: 26px;
  border-left: 6px solid #d6d3d1;
}

h1 {
  font-size: 36px;
  line-height: 1.111;
  margin-top: 32px;
  margin-bottom: 24px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  line-height: 1.333;
  margin-top: 40px;
  margin-bottom: 16px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 1.4;
  margin-top: 26px;
  margin-bottom: 10px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 700;
}

.nav {
  margin: 24px 0;
}

.footer {
  margin-top: 48px;
  padding: 24px 0 8px;
  font-size: 12px;
  background-color: #f5f5f4;
}

.ie-page-index li,
.ie-page-index ul,
.ie-page-index ol {
  margin-left: 0;
  list-style: none;
}

.ie-page-index li {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.ie-page-index .intro {
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 24px;
}

.ie-page-index a {
  text-decoration: none;
}

.ie-page-index .aka {
  font-weight: 500;
}

.ie-page-pages .entry a {
  text-decoration: none;
}
