/* 
This is a gross hack
LightningCss likes to optimize out situations like this

a {
  color: #0d6685;
  color: var(--variable);
  background-color: #0d6685;
  background-color: var(--variable);
}

to be

a {
  color: var(--variable);
  background-color: #0d6685;
  background-color: var(--variable);
}

Notabily only touching color and not background-color
This exists for compatibility with browsers that dont support var()
*/

html {
  color: #292524;
}

a.fancy-link, button.fancy-link, .fancy-link a, .fancy-link button {
  color: #0d6685;
}

a.fancy-link:hover, button.fancy-link:hover, .fancy-link a:hover, .fancy-link button:hover {
  color: #0079a3;
}