---
import Default from "../layouts/Default.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ErrorPageGround from "../components/ErrorPageGround.astro";
import ErrorPageSky from "../components/ErrorPageSky.astro";
const isDev = import.meta.env.DEV;
---

<Default title="home">
  <style>
    ul,
    ol {
      padding-left: 0;
      list-style-type: none;
    }
    .inline-flex {
      display: inline-flex;
    }
    h1 {
      margin: 3rem 0 1rem;
      padding: 0;
      font-weight: 900;
      font-size: 5rem;
    }
    h2 {
      font-weight: 900;
      font-size: 2.5rem;
      margin: 1.5rem 0 0;
    }
    .subtitle {
      font-weight: 500;
      margin: 0;
    }
  </style>
  <main>
    <div class="page-view">
      <ErrorPageSky />
      <center>
        <h1 style="font-size: 10em; margin-bottom: 0em;">
          {isDev ? "404" : '{{placeholder "http.vars.error"}}'}
        </h1>
        <h2 style="margin-top: 0; font-size: 3em">
          {isDev ? "Not Found" : '{{placeholder "http.vars.error_message"}}'}
        </h2>
        <Header />
      </center>
      <ErrorPageGround />
    </div>
  </main>
  <Footer />
</Default>
