---
import Default from "../layouts/Default.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ErrorPageGround from "../components/ErrorPageGround.astro";
import ErrorPageSky from "../components/ErrorPageSky.astro";
const isDev = import.meta.env.DEV;
---

<Default title="home">
  <style>
    h1 {
      margin: 3rem 0 1rem;
      padding: 0;
      font-weight: 900;
      font-size: 5rem;
    }
    h2 {
      font-weight: 900;
      font-size: 2.5rem;
      margin: 1.5rem 0 0;
    }

    #caddyError {
      content: '{{placeholder "http.vars.error"}}';
    }

    #caddyErrorMessage {
      content: '{{placeholder "http.vars.error_message"}}';
    }
  </style>
  <main>
    <div class="page-view">
      <ErrorPageSky />
      <center>
        <h1 id="caddyError" style="font-size: 10em; margin-bottom: 0em;"></h1>
        <h2 id="caddyErrorMessage" style="margin-top: 0; font-size: 3em"></h2>
        <Header />
      </center>
      <ErrorPageGround />
    </div>
  </main>
  <Footer />
</Default>
