---
import Default from "../layouts/Default.astro";
import Friends from "../components/Friends.astro";
import Footer from "@/components/Footer.astro";
import NekoJS from "@/components/NekoJS.astro";
import { SITE_DESCRIPTION } from "@/consts";

export const frontmatter = {
  title: "$hi, i'm ari!",
  description: SITE_DESCRIPTION,
};
---

<style lang="scss">
  @use "@/mixin" as *;

  h1 {
    font-weight: 900;
    font-size: $fallback-text-6xl;
    font-size: var(--text-6xl);
    line-height: var(--text-6xl--line-height);
    margin-bottom: 1rem;

    @include large() {
      font-size: var(--text-8xl);
      line-height: var(--text-8xl--line-height);
      margin-bottom: 0.8rem;
    }
  }

  .aka {
    font-weight: 500;
  }

  p {
    margin: 0.7rem 0;
  }

  h2 {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 0;
    padding-inline-start: 0;
    list-style: none;
  }

  ul > li {
    padding-left: 0;
    padding-inline-start: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
</style>

<Default frontmatter={frontmatter}>
  <div class="container theme ie-page-index">
    <h1 class="intro">
      <span id="header"
        >hi, i'm <span class="ari">ari!</span></span
      >
    </h1>
    <p class="aka">(a.k.a adryd, Ariana)</p>
    <p>
      this is my website where i post the silly things i'm working on. i like
      computers, trains, radios, making bad designs and wearing a witch hat for
      fun.
    </p>
    <!--[if IE]><p> my stylesheets probably won't work on such an old browser, but i've done my best to make sure every page is at least usable </p><![endif]-->
    <h2><a class="subtle-link" href="/pages/">pages →</a></h2>
    <p>reference, blog posts, and all that jazz</p>
    <ul class="fancy-link">
      <!-- <li>
        <a href="/pages/3d-printing-medeco-m3-keys"
          >3D printing medeco m3 keys →</a
        >
      </li> -->
      <li>
        <a href="/pages/ttc-radio-zones">ttc radio underground zones →</a>
      </li>
      <li><a href="/pages/trains">trains!!! →</a></li>
      <li><a href="/pages/bookmarks">bookmarks →</a></li>
      <li><a href="/pages/daily-carry">daily carry →</a></li>
      <li><a href="https://github.com/adryd325/oneko.js">my cat →</a></li>
      <li>
        <a href="https://github.com/moonlignt-mod/webpackTools"
          >webpack patching thing →</a
        >
      </li>
    </ul>
    <h2>my friends</h2>
    <p>some really cool people</p>
    <Friends />
  </div>
  <Footer />
  <NekoJS />
</Default>
