---
import Default from "../layouts/Default.astro";
import Friends from "../components/Friends.astro";
import Footer from "@/components/Footer.astro";
import NekoJS from "@/components/NekoJS.astro";
import { SITE_DESCRIPTION } from "@/consts";
import EmailLink from "@/components/EmailLink.astro";
import ResponsiveIcon from "@/components/ResponsiveIcon.astro";
import ArrowRight from "@/components/ArrowRight.astro";

export const frontmatter = {
  title: "$hi, i'm ari!",
  description: SITE_DESCRIPTION,
};
---

<style lang="scss">
  @use "@/lib" as *;

  h1 {
    font-weight: 900;
    font-size: $text-6xl;
    line-height: $text-6xl--line-height;
    margin-bottom: rem(1);

    @include large() {
      font-size: $text-8xl;
      line-height: $text-8xl--line-height;
      margin-bottom: rem(0.8);
    }
  }

  .aka {
    font-weight: 500;
  }

  p {
    margin: rem(0.7) 0;
  }

  h2 {
    margin-top: rem(1.8);
    margin-bottom: rem(1);
  }

  ul {
    padding-left: 0;
    padding-inline-start: 0;
    list-style: none;
  }

  ul > li {
    padding-left: 0;
    padding-inline-start: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }
  .ari {
    color: $color-seagull-400;
  }
</style>

<Default frontmatter={frontmatter}>
  <div class="container theme ie-page-index">
    <h1 class="intro">
      <span id="header">hi, i'm <span class="ari">ari!</span></span>
    </h1>
    <p class="aka">(a.k.a adryd, Ariana)</p>
    <p>
      this is my website where i write about the silly things i'm working on. i
      like computers, trains, radios, making bad designs and wearing a witch hat
      for fun.
    </p>
    <h2><a class="subtle-link" href="/pages/">pages <ArrowRight/></a></h2>
    <p>reference, blog posts, and all that jazz</p>
    <ul class="fancy-link">
      <!-- <li>
        <a href="/pages/3d-printing-medeco-m3-keys"
          >3D printing medeco m3 keys <ArrowRight/></a
        >
      </li> -->
      <li>
        <a href="/pages/ttc-radio-zones">ttc radio underground zones <ArrowRight/></a>
      </li>
      <li><a href="/pages/trains">trains!!! <ArrowRight/></a></li>
      <li><a href="/pages/bookmarks">bookmarks <ArrowRight/></a></li>
      <li><a href="/pages/daily-carry">daily carry <ArrowRight/></a></li>
      <li><a href="https://github.com/adryd325/oneko.js">my cat <ArrowRight/></a></li>
      <li>
        <a href="https://github.com/moonlight-mod/webpackTools" id="wpTools"
          >webpack patching thing <ArrowRight/></a
        >
      </li>
    </ul>
    <h2>my friends</h2>
    <p>some really cool people</p>
    <Friends />
    <h2>contact me</h2>
    <p>ask me a question, or show me something cool you've made!</p>
    <p class="fancy-link">
      <EmailLink>email <ArrowRight/></EmailLink>
    </p>
    <small
      ><ResponsiveIcon
        className="pixelated"
        alt="info"
        big={{
          offset: -4,
          src: "/static/icons/info20.png",
        }}
        small={{
          offset: -4,
          src: "/static/icons/info16.png",
        }}
      />
        include your signal username in your email and i might reply on there.</ResponsiveIcon
      >
    </small>
    <Footer />
    <NekoJS />
    <script is:inline>
        (window.webpackChunkwpToolsDetect = []).push = function push() {
          console.log("webpackTools user detected c:")
          var wpToolsEl = document.getElementById("wpTools")
          wpToolsEl.innerText="webpackTools user detected c: →"
        };
    </script>
  </div>
</Default>
