<style>
  .nav {
    margin: 24px 0;
    margin: 1.5rem 0;
  }
</style>

<div class="nav" role="navigation">
  <a class="fancy-link" href="/">home →</a>{" "}
  <a class="fancy-link" href="/pages/">pages →</a>
</div>
