<style lang="scss">
  @use "@/lib" as *;
  .nav {
    margin: rem(1.5) 0;
  }
</style>

<div class="nav" role="navigation">
  <a class="fancy-link" href="/">home →</a>{" "}
  <a class="fancy-link" href="/pages/">pages →</a>
</div>
