---
import ArrowRight from "./ArrowRight.astro";
---

<style lang="scss">
  @use "@/lib" as *;
  .nav {
    margin: rem(1.5) 0;
  }
</style>

<div class="nav" role="navigation">
  <a class="fancy-link" href="/">home <ArrowRight/></a>{" "}
  <a class="fancy-link" href="/pages/">pages <ArrowRight/></a>
</div>
