$screen-lg: 960px;

$fallback-color-background: #fff;
$fallback-color-text: #292524;
$fallback-color-header: #1c1917;
$fallback-color-blockquote: #44403c;
$fallback-color-blockquote-before: #d6d3d1;
$fallback-color-ol-marker: #57534e;
$fallback-color-ul-marker: #a8a29e;
$fallback-color-hr: #e7e5e4;
$fallback-color-fancy-link-background: #c3e4f3;
$fallback-color-fancy-link-text: #0d6685;
$fallback-color-fancy-link-background-hover: #dbeff8;
$fallback-color-fancy-link-text-hover: #0079a3;
$fallback-color-subtle-link-background-hover: #e3f2fb;
$fallback-color-footer: #f5f5f4;

$fallback-text-xs: 12px;
$fallback-text-sm: 14px;
$fallback-text-md: 16px;
$fallback-text-lg: 18px;
$fallback-text-xl: 20px;
$fallback-text-2xl: 24px;
$fallback-text-3xl: 30px;
$fallback-text-4xl: 36px;
$fallback-text-5xl: 48px;
$fallback-text-6xl: 60px;
$fallback-text-7xl: 72px;
$fallback-text-8xl: 96px;
$fallback-text-9xl: 128px;

@mixin large() {
  @media only screen and (min-width: $screen-lg) {
    @content;
  }
}

@mixin dark() {
  @media screen and (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin contrast() {
  @media screen and (prefers-contrast: more) {
    @content;
  }
}

