@use "../node_modules/modern-normalize/modern-normalize.css";
@use "@/styles/global/font";
@use "@/styles/global/normalize";
@use "@/styles/global/fancy-link";
@use "@/lib" as *;
@use 'sass:color';

html {
  font-family: $font-sans;

  font-size: $text-md;
  line-height: $text-md--line-height;

  @include theme-background-color("background");
  @include theme-color("text");
}

* {
    overscroll-behavior-x: none;
}

::selection {
  background: color.adjust($color-seagull-200, $alpha: -0.5);
  @include dark() {
    background: color.adjust($color-seagull-700, $alpha: -0.5);
  }
}

@include dark() {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;

  padding: 0 rem(1);
}

.serif {
  font-family: $font-serif;
}

.sans-serif {
  font-family: $font-sans;
}

.monospace {
  font-family: $font-mono;
}

.theme-serif {
  font-family: $font-serif;
  h1,
  h2,
  h3,
  h4 {
    font-family: $font-sans;
    @include theme-color("header");
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h1, .h1 {
  font-size: $text-4xl;
  line-height: $text-4xl--line-height;
  margin-top: rem(2);
  margin-bottom: rem(1.5);
  font-weight: 800;
}

h2, .h2 {
  font-size: $text-2xl;
  line-height: $text-2xl--line-height;
  margin-top: rem(2.5);
  margin-bottom: rem(1);
  font-weight: 700;
}

h3, .h3 {
  font-size: $text-xl;
  line-height: $text-xl--line-height;
  margin-top: rem(1.6);
  margin-bottom: rem(0.6);
  font-weight: 700;
}

h4, .h4 {
  font-size: $text-md;
  line-height: $text-md--line-height;
  margin-top: rem(1.5);
  margin-bottom: rem(0.5);
  font-weight: 700;
}

.lead {
  font-size: $text-lg;
  line-height: $text-lg--line-height;
  margin-top: rem(1.5);
  margin-bottom: rem(0.5);
}

blockquote {
  margin: 0;
  margin-top: rem(1.6);
  margin-bottom: rem(1.6);

  @include theme-color("blockquote");
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: rem(0.35);

    border-radius: rem(0.35);
    height: 100%;

    @include theme-background-color("blockquote-before");
  }

  & > * {
    padding-left: rem(1.6);
  }
}

p {
  margin: 1em 0;
  hyphens: auto;
}

small {
  font-size: $text-sm;
  line-height: $text-sm--line-height;
}

ul,
ol {
  padding: 0;
  padding-left: 1.6em;
  & > li {
    padding-left: 0.4em;
  }
}

ul > li::marker {
  @include theme-color("ul-marker");
}

ol > li::marker {
  @include theme-color("ol-marker");
}

li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

hr {
  margin-top: rem(2.5);
  margin-bottom: rem(2.5);
  border: none;
  border-top: 1px solid;
  @include theme-any("border-top-color", "hr");
}

code {
  font-family: $font-mono;
  font-size: 0.93em;

  &:before,
  &:after {
    content: "`";
    font-weight: 400;
  }
}

pre {
  padding: 12px;
  border-radius: 8px;
  line-height: 1.45;
  code {
    font-weight: 400;
    font-size: $text-sm;
    line-height: $text-sm--line-height;

    &:before,
    &:after {
      content: none;
    }
  }
}

figure {
  @include theme-color("blockquote");
  font-size: $text-md;
  line-height: $text-md--line-height;
  margin: rem(0.75) 0 rem(2);
}

table {
  font-size: $text-sm;
  line-height: $text-sm--line-height;
  margin: rem(1.5) 0;
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid;
  @include theme-any("border-bottom-color", "blockquote-before");
}

tr {
  border-bottom: 1px solid;
  @include theme-any("border-bottom-color", "hr");
}

th {
  @include theme-color("header");
  font-weight: 600;
  text-align: start;
  padding: rem(0.5);
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
  }
}

td {
  @include theme-color("blockquote");
  padding: rem(0.5);
  &:first-of-type {
    padding-left: 0;
  }
  &:last-of-type {
    padding-right: 0;
  }
}

.flex-wrap-when-small {
  flex-wrap: wrap;
  @include large() {
    flex-wrap: nowrap;
  }
}

@include large() {
  html {
    font-size: $text-xl;
    line-height: $text-xl--line-height;
  }

  h1, .h1 {
    font-size: $text-6xl;
    line-height: $text-6xl--line-height;
    margin-top: rem(3);
    margin-bottom: rem(2.5);
  }

  h2, .h2 {
    font-size: $text-4xl;
    line-height: $text-4xl--line-height;
    margin-top: rem(3);
    margin-bottom: rem(1.75);
  }

  h3, .h3 {
    font-size: $text-2xl;
    line-height: $text-2xl--line-height;
    margin-top: rem(2);
    margin-bottom: rem(1);
  }

  h4, .h4 {
    font-size: $text-xl;
    line-height: $text-xl--line-height;
    margin-top: rem(1.5);
    margin-bottom: rem(0.5);
  }

  .lead {
    font-size: $text-2xl;
    line-height: $text-2xl--line-height;
    margin-top: rem(1.5);
    margin-bottom: rem(0.5);
  }

  pre {
    line-height: 1.25;
    code {
      font-size: $text-md;
    }
  }

  small, figure, table {
    font-size: $text-lg;
    line-height: $text-lg--line-height;
  }

  th {
    padding: rem(0.5);
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }

  td {
    padding: rem(0.5);
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}
