---
import "@/global.scss";
import type { Frontmatter } from "@/Frontmatter";
import BaseHead from "@/components/BaseHead.astro";

type Props = { frontmatter: Frontmatter };

const { frontmatter } = Astro.props;
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<BaseHead frontmatter={frontmatter}></BaseHead>
	</head>
	<body>
		<slot></slot>
	</body>
</html>
