---
import Footer from "@/components/Footer.astro";
import Default from "./Default.astro";
import type { Frontmatter } from "@/Frontmatter";
import Nav from "@/components/Nav.astro";

type Props = { frontmatter: Frontmatter };

const { frontmatter } = Astro.props;
---

<Default frontmatter={frontmatter}>
  <div class="container theme">
    <Nav .></Nav>
    <article>
      <slot />
    </article>
  </div>
  <Footer />
</Default>
